<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GPLibrary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B281507517E602E40009076D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B28150F717E74E3D0009076D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B281510C17E750430009076D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B281513817E80ACC0009076D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
